@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.topo {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

.topo-logo {
    max-height: 48px;
}

.topo-menu{
    display: flex;
    gap: 32px;
}

.topo-menu a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: white;
    transition: 0.2s;
}

.topo-menu a:hover{
    color: lightgray;
}

.conteudo-principal {
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.conteudo-principal h1 {
    font-size: 5em;
    font-weight: 300;
    margin: 12px 0;
    text-align: center;
}

.conteudo-principal h2 {
    font-size: 2em;
    font-weight: 300;
    text-align: center;
}

.conteudo-principal button {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
    width: 300px;
    height: 60px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    border: 2px solid black;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 150px;
    transition: 0.1s;
    margin-top: 60px;
}

.conteudo-principal button:hover {
    background-color: black;
    color: white;
}

.conteudo-secundario {
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 700px;
}

.conteudo-secundario h2, .conteudo-terciario h2 {
    font-size: 3.5em;
    font-weight: 300;
    text-align: center;
}

.conteudo-secundario p, .conteudo-terciario p {
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    width: 450px;
    text-align: center;
}

.conteudo-secundario img, .conteudo-terciario img {
    max-height: 380px;
    border-radius: 200px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    transition: 0.05s;
}

.conteudo-secundario img:hover, .conteudo-terciario img:hover {
    transform: scale(1.02);
}

.conteudo-terciario {
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 700px;
}

.rodape {
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.telefone, .redes-sociais {
    display: flex;
    align-items: center;
    gap: 14px;
}

.rodape a, i {
    color: white;
    text-decoration: none;
    transition: 0.1s;
}

.rodape a:hover{
    color: lightgray;
    transform: scale(1.02);
}

@media only screen and (min-width: 900) and (max-width: 1000px) {

    .conteudo-principal h1 {
        font-size: 3.5em;
    }
    
    .conteudo-principal h2 {
        font-size: 1.5em;
    }
    .conteudo-secundario img, .conteudo-terciario img {
        max-height: 300px;
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 900px) {

    .conteudo-principal h1 {
        font-size: 3em;
    }
    
    .conteudo-principal h2 {
        font-size: 1.5em;
    }
    .conteudo-secundario img, .conteudo-terciario img {
        max-height: 300px;
        margin-bottom: 60px;
    }
}